.foot{
background-color: #171819;
height: 60px;
text-align: center;

p {
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    padding-top: 22px;
}
}